<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Google YouTube API tests">
            <directory>tests/youtube</directory>
        </testsuite>
        <testsuite name="Google Tasks API tests">
            <directory>tests/tasks</directory>
        </testsuite>
        <testsuite name="Google PageSpeed API tests">
            <directory>tests/pagespeed</directory>
        </testsuite>
        <testsuite name="Google UrlShortener API tests">
            <directory>tests/urlshortener</directory>
        </testsuite>
        <testsuite name="Google Plus API tests">
            <directory>tests/plus</directory>
        </testsuite>
        <testsuite name="AdSense Management API tests">
            <directory>tests/adsense</directory>
        </testsuite>
        <testsuite name="Google API PHP Library core component tests">
            <directory>tests/general</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">tests</directory>
        </blacklist>
    </filter>
</phpunit>
