<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" bootstrap="tests/bootstrap.php">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Appning PHP Client Unit Test Suite">
      <directory>tests/Appning</directory>
    </testsuite>
    <testsuite name="Appning PHP Client Examples Test Suite">
      <directory>tests/examples</directory>
    </testsuite>
  </testsuites>
</phpunit>
