name: Add Release Assets

permissions:
    contents: write

on:
    release:
        types: [published]
    workflow_dispatch:
        inputs:
              tag:
                  description: 'Tag to generate documentation for'
                  required: true
              upload-on-workflow-dispatch:
                  description: 'Upload assets?'
                  required: false
                  default: "false"
jobs:
    asset:
        runs-on: ${{ matrix.operating-system }}
        strategy:
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ "8.0", "8.3" ]

        name: Upload Release Assets
        steps:
            - id: getTag
              name: Get Tag
              run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}

            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer remove --no-update --dev cache/filesystem-adapter && composer install --no-dev --prefer-dist

            - name: Create Archive
              run: |
                zip -r ${fileName} . &&
                zip -d ${fileName} ".git*" || true &&
                zip -d ${fileName} "tests*" || true &&
                zip -d ${fileName} "docs*" || true &&
                zip -d ${fileName} "phpcs.xml.dist" || true &&
                zip -d ${fileName} "phpunit.xml.dist" || true &&
                zip -d ${fileName} "tests*" || true &&
                zip -d ${fileName} "examples*" || true
              env:
                fileName: google-api-php-client-${{ inputs.tag || steps.tagName.outputs.tag }}-PHP${{ matrix.php }}.zip

            - name: Upload Release Archive
              uses: softprops/action-gh-release@v2
              if: github.ref_type == 'tag' || inputs.upload-on-workflow-dispatch == 'true'
              with:
                tag_name: ${{ inputs.tag || steps.tagName.outputs.tag }}
                files: |
                  ./google-api-php-client-${{ inputs.tag || steps.tagName.outputs.tag }}-PHP${{ matrix.php }}.zip
