name: Test Suite
on:
    push:
        branches:
            - main
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ "7.4", "8.0", "8.1", "8.2", "8.3" ]
                composer-flags: [""]
                include:
                  - php: "7.4"
                    composer-flags: "--prefer-lowest "
                  - php: "8.3"
                    composer-flags: "--prefer-lowest "
        name: PHP ${{ matrix.php }} ${{ matrix.composer-flags }}Unit Test
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
            - name: Install Dependencies
              uses: nick-invision/retry@v2
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer update ${{ matrix.composer-flags }}
            - name: Run Script
              run: vendor/bin/phpunit

    style:
        runs-on: ubuntu-latest
        name: PHP Style Check
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: "8.1"
            - name: Install Dependencies
              uses: nick-invision/retry@v2
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run Script
              run: vendor/bin/phpcs src tests examples --standard=phpcs.xml.dist -nps
    staticanalysis:
        runs-on: ubuntu-latest
        name: PHPStan Static Analysis
        steps:
            - uses: actions/checkout@v2
            - name: Install PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: '8.1'
            - name: Run Script
              run: |
                composer install
                composer global require phpstan/phpstan
                ~/.composer/vendor/bin/phpstan analyse

