name: Test Suite
on:
    push:
        branches:
            - master
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ "5.6", "7.0", "7.1", "7.2", "7.3", "7.4", "8.0" ]
                composer-flags: [""]
                include:
                  - php: "5.6"
                    composer-flags: "--prefer-lowest "
                  - php: "8.0"
                    composer-flags: "--prefer-lowest "
        name: PHP ${{ matrix.php }} ${{ matrix.composer-flags }}Unit Test
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer update ${{ matrix.composer-flags }}
            - if: ${{ matrix.php == '8.0' || matrix.composer-flags == '--prefer-lowest' }}
              name: Update guzzlehttp/ringphp dependency
              run: composer update guzzlehttp/ringphp
            - if: ${{ matrix.php == '5.6' || matrix.php == '7.0' || matrix.php == '7.1' }}
              name: Run PHPUnit Patches
              run: sh .github/apply-phpunit-patches.sh
            - name: Run Script
              run: vendor/bin/phpunit

    style:
        runs-on: ubuntu-latest
        name: PHP Style Check
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: "7.3"
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run Script
              run: vendor/bin/phpcs src --standard=phpcs.xml.dist -np
